<ion-header [translucent]="true" class="headt">
  <div class="omenu">
    <ion-buttons slot="start">
      <ion-menu-button name="menu" class="btnmenu" ></ion-menu-button>
    </ion-buttons>
  </div>
    <ion-title class="tt"> Compras Realizadas</ion-title>
</ion-header>

<ion-content [fullscreen]="true">

        <!-- Agrega más detalles según sea necesario -->
    
        <!-- Botón o enlace para eliminar el producto 
        <ion-button (click)="eliminarProducto(acquiredProduct)">
          Eliminar
        </ion-button>-->

  <ion-card>
    <ion-grid>
      <ion-row *ngFor="let cproduct of carrito">
        <ion-col size="4">
          <div class="product-image">
            <ion-img class="imgp" src="assets/products/{{cproduct.img}}" alt="{{cproduct.product_id}}"></ion-img>
          </div>        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-label class="sub"> {{ cproduct.title }}</ion-label>
            <ion-buttons slot="end">
              <ion-button class="icon-remove" (click)="eliminarProducto(cproduct.product_id)">
                <ion-icon name="close-outline"></ion-icon>
                
              </ion-button>
            </ion-buttons>
          </ion-item>
            <p class="normal m-2">   $ {{cproduct.price}}</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>