<ion-content>
  <div class="loginheader">
    <img src="../assets/icon/icon.png" alt="iconlogo">
  </div>
  <div class="logincontent">
    <div class="title">
      <ion-label>
        <h2> Repuestos EC</h2>
      </ion-label>
    </div>
    <div class="logindatos">
      <form [formGroup]="checkoutForm" >
        <ion-item>
          <ion-input formControlName="correo" class="custom" label="Correo electrónico" label-placement="floating"
            fill="outline" placeholder="Ingrese su correo electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="contrasenia" class="custom" label="Contraseña" label-placement="floating"
            fill="outline" placeholder="Ingrese su contraseña"></ion-input>
        </ion-item>       
      </form>
    </div>
    <div *ngIf="message" class="success-message" id="msg">{{ message }}</div>
    <ion-button class="btncrear" fill="clear" [routerLink]="['/registro']" type="button">Crear Cuenta</ion-button>
    <ion-button class="btning" (click)="login()" type="button"> Iniciar Sesión </ion-button>

  </div>

</ion-content>