<ion-content>
  <div class="loginheader">
    <img src="../assets/icon/icon.png" alt="iconlogo">
  </div>
  <div class="logincontent">
    <div class="title">
      <ion-label>
        <h2> Repuestos EC</h2>
      </ion-label>
    </div>
    <div class="logindatos">
      <ion-item>
        <ion-input class="custom" label="Correo" label-placement="floating" fill="outline"
          placeholder="Ingrese su correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="custom" label="Contraseña" label-placement="floating" fill="outline"
          placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>
    </div>
    <ion-button class="btncrear" fill="clear" href="/registro" type="button">Crear Cuenta</ion-button>
    <ion-button class="btning" href="/tabs/tab1" type="button"> Iniciar Sesión </ion-button>

  </div>

</ion-content>