<ion-header [translucent]="true">
  <div class="omenu">
    <ion-buttons slot="start">
      <ion-button href="/tabs/tab1">
        <ion-icon slot="icon-only" color="warning" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Compras/Artículo </ion-title>
  </div>
    
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <!--- boton regresar -->
    <ion-row>

    </ion-row>
    <!--- imagen-->
    <ion-row>

      <div class="product-image">
        <ion-img src="assets/products/repLaptop.jpg" alt="product 1"></ion-img>
      </div>

      <div class="content-info">
        <p class="product-title" id="title">Cargador HP </p>
        <p class="product-price" id="price"> $16 </p>
        <p class="product-use" id="use">Producto Nuevo</p>
        <p class="product-type" id="type">Laptop</p>
      </div>
    </ion-row>

    <!--- info-->
    <ion-row>
      <ion-segment color="warning" value="warning">
        <ion-segment-button value="warning">
          <ion-label>Información</ion-label>
        </ion-segment-button>

        <ion-segment-button value="segment">
          <ion-label>Contacto</ion-label>
        </ion-segment-button>
      </ion-segment>
      
      
    </ion-row>

    <!--- boton de comprar -->
    <ion-row>
      <ion-button class="comp">
        Adquirir
        <ion-icon slot="start" name="cart-outline"></ion-icon>
      </ion-button>

    </ion-row>

  </ion-grid>

</ion-content>