.headt {
    height: 60px;
}

.omenu {
    flex-basis: 24%;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 15px;
}

ion-grid {
    --ion-grid-padding: 20px;
}

ion-img {
    object-fit: cover;
}


ion-button.comp {
    --background: #EED500;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: white;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
   
    --padding-top: 10px;
    --padding-bottom: 10px;

    margin: auto;
}

.content-info {
    display: flex; 
    flex-direction: row;
    row-gap: 0.5rem; 
    column-gap: 0.5rem; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-image{
    flex-basis: 100%;
    flex-grow: 1;
    border-radius: 12%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-title{
    flex-basis: 70%;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-bottom: 5px;
}

.product-price{
    flex-basis: 20%;
    flex-grow: 1;
    border-radius: 25%;
    background-color: #003547;
    padding: 5px;
    margin-left: 10PX;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.product-use{
    flex-basis: 70%;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.product-type{
    margin-top: 0;
    flex-basis: 20%;
    flex-grow: 1;
}

#price{
    font-size: 30px;
    line-height: 2;
    color: #fff;
}

#use, #type{
    font-size: 20px;
    color: #707070;
}
#title{
    line-height: 2;
    font-size: 30px;
    font-family:'Arial Narrow Bold', sans-serif
}