<ion-header [translucent]="true" class="headt">
  <div class="omenu">
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </div>
  <div class="serbar">
    <ion-searchbar></ion-searchbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button shape="round" class="all">Todo</ion-button>
  <ion-button shape="round" class="cat">PC's</ion-button>
  <ion-button shape="round" class="cat">Laptop</ion-button>
  <ion-button shape="round" class="cat">Autos</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="product-image">
          <ion-img src="assets/products/repPC.jpg" alt="product 1"></ion-img>
        </div>
        <div class="content-info">
          <p class="product-title" id="title">Fuente de Poder</p>
          <p class="product-price" id="price"> $50 </p>
          <p class="product-use" id="use">Producto Usado</p>
          <p class="product-type" id="type">Auto</p>
        </div>

      </ion-col>

      <ion-col>
        <div class="product-image">
          <ion-img src="assets/products/repLaptop.jpg" alt="product 1"></ion-img>
        </div>
        <div class="content-info">
          <p class="product-title" id="title">Cargador HP </p>
          <p class="product-price" id="price"> $16 </p>
          <p class="product-use" id="use">Producto Nuevo</p>
          <p class="product-type" id="type">Laptop</p>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <div class="product-image">
          <ion-img src="assets/products/repPC.jpg" alt="product 1"></ion-img>
        </div>
        <div class="content-info">
          <p class="product-title" id="title">Fuente de Poder</p>
          <p class="product-price" id="price"> $50 </p>
          <p class="product-use" id="use">Producto Usado</p>
          <p class="product-type" id="type">Auto</p>
        </div>

      </ion-col>

      <ion-col>
        <div class="product-image">
          <ion-img src="assets/products/repLaptop.jpg" alt="product 1"></ion-img>
        </div>
        <div class="content-info">
          <p class="product-title" id="title">Cargador HP </p>
          <p class="product-price" id="price"> $16 </p>
          <p class="product-use" id="use">Producto Nuevo</p>
          <p class="product-type" id="type">Laptop</p>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <div class="product-image">
          <ion-img src="assets/products/repPC.jpg" alt="product 1"></ion-img>
        </div>
        <div class="content-info">
          <p class="product-title" id="title">Fuente de Poder</p>
          <p class="product-price" id="price"> $50 </p>
          <p class="product-use" id="use">Producto Usado</p>
          <p class="product-type" id="type">Auto</p>
        </div>

      </ion-col>

      <ion-col>
        <div class="product-image">
          <ion-img src="assets/products/repLaptop.jpg" alt="product 1"></ion-img>
        </div>
        <div class="content-info">
          <p class="product-title" id="title">Cargador HP </p>
          <p class="product-price" id="price"> $16 </p>
          <p class="product-use" id="use">Producto Nuevo</p>
          <p class="product-type" id="type">Laptop</p>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>