<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" name="menu"></ion-menu-button>
      </ion-buttons>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon> 
      <ion-title> Acerca De </ion-title>
    </ion-toolbar>
  </ion-header>
  
<!-- Padding en sus cuatro lados -->
<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <!-- clase en la hoja de estilo -->
      <ion-card-title class="titulo">Acerca De </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <!-- identificador en la hoja de estilo -->
      <p id="descripcion">Realización de una App Móvil - Ionic del último proyecto de la materia de
        Desarrollo de Aplicaciones Web y Móviles Paralelo 1</p>
      <p class="pp"> Realizado Por: </p>
      <div class="imgc">
        <div class="imgp">
          <ion-img src="assets/acerca/kt.jpeg" alt="KT"></ion-img>
        </div>
      </div>
      <p class="pp"> Katherine Tumbaco </p>
      <div class="imgc">
        <div class="imgp">
          <ion-img src="assets/acerca/re.jpg" alt="RE"></ion-img>
        </div>
      </div>
      <p class="pp"> Roberto Encalada </p>
      <p class="pf"> DAWM P1</p>
    </ion-card-content>
  </ion-card>

</ion-content>