<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label >Nombre</ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label >Contraseña</ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label >Confirmar contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button class="cc" href="/tabs/login">Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
